<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>items</key>
  <array>
   <dict>
    <key>assets</key>
    <array>
     <dict>
      <key>kind</key>
      <string>software-package</string>
      <key>url</key>
      <string><![CDATA[https://ipa7all.lanzoug.com:447/ipa/2023/06/06/a93820b4db0177acc1171e3944fefe79/1687282950/G7R7Kay2SUV53dh8dWD5gg.ipa]]></string>
     </dict>
    </array>
    <key>metadata</key>
    <dict>
     <key>bundle-identifier</key>
     <string>com.xiaobovlog.ipcc</string>
     <key>bundle-version</key>
     <string>1</string>
     <key>kind</key>
     <string>software</string>
     <key>subtitle</key>
     <string>App subtitle</string>
     <key>title</key>
     <string>IPCC Replacer_v2.5【已签名2】</string>
    </dict>
   </dict>
  </array>
 </dict>
</plist>
